name: 系统监控
enable: true
priority: 100
padding: 3
extend:
  CpuWin:
    val: "100"
    desc: cpu走势图窗口大小
    priority: 0
  Interface:
    val: eth0
    desc: 网络接口
    priority: 90
  Disk:
    val: /
    desc: 磁盘
    priority: 100

height: 4
